/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */
* {
  margin: 0;
  padding: 0;
}
a:link,
a:visited {
  text-decoration: none;
  color: white;
  padding: none;
}
button,
a {
  padding-left: 1em;
  padding-right: 1em;
  background-color: rgb(75, 122, 211);
  color: white;
  border: none;
  border-radius: 5px;
  min-width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: large;
  height: 6vh;
  width: 15vw;
}
button:hover,
a:hover {
  background-color: white;
  color: rgb(75, 122, 211);
  cursor: pointer;
  border: 2px solid rgb(75, 122, 211);
}
button:active,
a:active {
  transform: translate(4px, 4px);
}
.smallBtn {
  height: 3vh;
  width: fit-content;
  padding: 0.5em;
}
input {
  height: 5vh;
  border-radius: 5px;
  text-indent: 10px;
}

/* NavBar Styles */
nav {
  height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(250, 250, 250);
  padding-left: 2em;
  padding-right: 2em;
  text-decoration: none;
}
/* Messages page styles */
.mainContainer {
  padding: 2em;
  display: flex;
  gap: 1em;
}
main {
  flex: 4;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}
aside {
  flex: 1;
}
.notification {
  height: 5vh;
  background-color: rgb(72, 72, 72);
  color: white;
  font-weight: 700;
  font-size: larger;
  text-align: center;
  border-radius: 5px;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}
h2 {
  font-size: xx-large;
  text-align: center;
}
/* Conversation styles */
.conversation {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  padding-bottom: 4em;
}
.conversation,
.messageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}
.conversationHeader {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.topic {
  font-weight: 800;
  font-style: italic;
  font-size: x-large;
}
.members {
  align-self: flex-start;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.userSelectionForm {
  width: 100%;
  height: 30vh;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.userSelectionForm button {
  align-self: center;
}

/* Messages styles */
.messageContainer {
  width: 40%;
  display: flex;
  flex-direction: row;

  gap: 0.5em;
}
.messageContainer img {
  width: 2em;
  height: 2em;
  border-radius: 100%;
}
.messages {
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: end;
  border: 2px solid rgb(134, 133, 133);
  border-radius: 5px;
  width: 80%;
  gap: 1em;
  overflow-y: auto;
  min-height: 50vh;
}
.messages a {
  height: fit-content;
  width: fit-content;
  border-radius: 50%;
  padding: 0;
}
.messages a:hover {
  border: none;
}
.messages p {
  padding: 0.5em;
  padding-left: 1.2em;
  border-radius: 5px;
  width: fit-content;
  background-color: lightslategray;
  color: white;
}
.myMessage {
  align-self: flex-end;
  display: flex;
  flex-direction: row-reverse;
}
.myMessage p {
  background-color: rgb(75, 122, 211);
}
.quill {
  width: 80%;
  height: fit-content;
}

/* Aside */
aside {
  display: flex;
  flex-direction: column;
  gap: 3em;
  width: 20%;
}
.conversationsList {
  display: flex;
  flex-direction: column;
  gap: 1em;
  overflow: auto;
}
.groupChat {
  display: flex;
  gap: 0.5em;
  border: none;
  justify-content: space-between;
}

.groupChat p {
  padding: 0.5em;
  cursor: pointer;
  border: 1px solid rgb(134, 133, 133);
  border-radius: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.groupChat button {
  align-self: center;
}
.newConv {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.newConv input {
  width: 100%;
}
.newConv button {
  width: 100%;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

/* Profile forms, Login, SignUp */
.formPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1em;
  height: 100vh;
}
.formPage a,
.formPage button,
form input {
  width: 30vw;
}
form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 30vw;
}
.formPage a {
  background-color: inherit;
  color: rgb(75, 122, 211);
  text-decoration: underline;
}
.formPage a:hover {
  transform: none;
  border: none;
}

/* Profile page */
.profileContainer {
  display: flex;
  gap: 1em;
}
.profileContainer img {
  height: 35vh;
  width: auto;
  border-radius: 10%;
}
.profileItems {
  align-self: center;
  justify-self: center;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.profileItems button {
  width: 40%;
}

/* Error page styles */
.errorPage {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 5em;
}

.errorPage img {
  width: 8vw;
  animation: orbit infinite ease-in-out 6s;
  position: absolute;
  top: 35%;
}
.container {
  position: relative;
}
.container h1 {
  position: relative;
  z-index: 2;
  backdrop-filter: blur(5px);
}
@keyframes orbit {
  0% {
    left: -50%;
    z-index: 1;
    scale: 0.7;
    transform: translate(0%, -50%);
  }
  25% {
    scale: 0.3;
    transform: translate(-100%, -50%);
  }
  50% {
    left: 120%;
    z-index: 1;
  }
  50.001% {
    z-index: 3;
  }
  75% {
    scale: 1;
  }
  100% {
    left: -50%;
    transform: translate(0%, -50%);
    z-index: 3;
    scale: 0.72;
  }
}

.error-message {
  color: red;
  font-size: 12px;
  margin-top: -10px;
  margin-bottom: 10px;
}
@media only screen and (max-device-width: 768px) {
  aside {
    min-width: 30vw;
  }
  .newConv input {
    min-width: 100%;
  }
  .newConv button {
    min-width: 100%;
  }
}
